<!doctype html>
<html>
  <head>
    <title>Stock Prices using YQL</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
    <script src="ng-stock.js" type="text/javascript"></script>  
  </head>
  <body data-ng-app="stockApp" data-ng-controller="stockController">
    <h1>Get a stock price using YQL</h1>
   
    <label for="ticker"> Ticker here:</label>
    <input type="text" placeholder="Put ticker here" data-ng-model="ticker"/>
    
    <button id="fetch" type="button" value="Fetch Data" data-ng-click="loadData()">Go</button>
    <hr/>
    <strong>Results: </strong>
    <ul id="results">
      <li data-ng-repeat="(key, value) in query">
          <span>{{key}}</span>: <span>{{value}}</span>
      </li>
    </ul>
 
  </body>
</html>
